@import 'mixins';

[is='flynt-hero-image-cta'] {
  @include align-image('mobile');
  @include align-text('mobile');

  align-items: left;
  display: flex;
  justify-content: left;
  
  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  &:not(.fullWidth) .container {
    @include center(100%, $padding: 0);

    position: relative;
    width: 100%;



    @media (min-width: $breakpoint-tablet) {
      @include center(100%, $padding: 0);
      .content-html.boxPadding.mobileTextAlign--left.desktopTextAlign--left {
        left: 100px;
        position: absolute;
        width: 50%;
    }
    }

    .content-picture {
      left: 0;
      right: 0;

      @media (min-width: $breakpoint-tablet) {
        left: 0;
        right: 0;
      }

      @media (min-width: $breakpoint-desktop) {
        left: 0;
        right: 0;
      }
    }
  }

  &,
  .content,
  .content-wrapper {
    min-height: 420px;
  }

  @media (min-width: $breakpoint-tablet) {
    &,
    .content,
    .content-wrapper {
      min-height: 540px;
    }
  }

  .content {
    align-content: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: $component-spacing-mobile $container-padding-mobile;
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-desktop) {
      padding: 50px 0;
    }

    &-wrapper {
      align-content: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      justify-content: center;
      justify-items: center;
      max-width: $content-max-width;
      width: 100%;
    }

    &-html {
      @include reset-content-margins;

      position: relative;
      text-align: center;
      width: 100%;

      &:not([class*='theme']) {
        color: #fff;

        #{$heading-selectors} {
          color: inherit;
        }
      }
    }

    &-picture {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-background {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-image {
      font-family: 'object-fit: cover';
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    @include align-image('desktop');
    @include align-text('desktop');

  }

  @media (max-width: $content-max-width + 29px) {
    br {
      content: '\00a0';
    }
  }
}

