<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-wysiwyg-sidebar">
  <div class="container centerMaxWidthContainer">
    <div class="contentWrapper centerContentMaxWidth">
      <aside class="sidebar">
        {{ sidebarHtml }}
      </aside>
      <div class="content">
        {{ contentHtml }}
      </div>
    </div>
  </div>
</div>
